@media only screen and (min-width: 520px) {
    .homepage-text{
        margin-top: 55vh;
    }
}

@media only screen and (max-width: 550px)  {
    .homepage-text{
        margin-top: 40vh;
    }
}

@media only screen and (max-height: 660px) {

    .homepage-text{
        margin-top: 50vh;
    }
}

@media only screen and (max-height: 600px) {

    .homepage-text{
        margin-top: 40vh;
    }
}

.homepage-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-left: 10vw;
}

.homepage-title{
    font-size: 70px;
    font-weight: 500;
}

.homepage-heading{
    font-size: 50px;
}

.homepage-description{
    font-size: 22px;
    font-style: italic;
}