@media only screen and (min-width: 1300px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 3rem !important;
    }

    #navbar-left, #navbar-right{
        font-size: 15px;
    }

    .globe-rotating img,
    .logout-btn img{
        width: 30px;
        height: 30px;
        position: relative;
    }

    .login-btn img{
        width: 50px;
        height: 23px;
        position: relative;
        margin-top: 3px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1300px)  {
    #right-nav,
    #left-nav{
        font-size: 15px;
        margin: 0 auto;
        text-align: center;
    }

    .globe-rotating img,
    .logout-btn img{
        width: 20px;
        height: 20px;
        position: relative;
    }

    .login-btn img{
        width: 50px;
        height: 19px;
        position: relative;
        margin-top: 2px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 700px)  {
    .navbar{
        display: flex;
        flex-direction: column;
    }

    #right-nav,
    #left-nav{
        margin: 0 auto;
        text-align: center;
    }

    .navbar-left, .navbar-right{
        font-size: 12px;
    }

    .globe-rotating img,
    .logout-btn img{
        width: 18px;
        height: 18px;
        position: relative;
    }

    .login-btn img{
        width: 45px;
        height: 15px;
        position: relative;
        margin-top: 1px;
    }
}

@media only screen and (max-width: 480px)  {
    #right-nav,
    #left-nav{
        margin: 0 auto;
        text-align: center;
    }

    .navbar-left, .navbar-right{
        font-size: 10px;
    }

    .globe-rotating img,
    .logout-btn img{
        width: 16px;
        height: 16px;
        position: relative;
    }

    .login-btn img{
        width: 40px;
        height: 13px;
        position: relative;
        margin-top: 1px;
    }
}

.navbar{
    width: 100vw;
    margin: 0;
    background-color: rgb(2, 1, 27);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    text-transform: uppercase;
}

.navbar-left, .navbar-right{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar li,
.navbar li a{
    color: skyblue;
    background-color: rgb(2, 1, 27);
    text-decoration: none;
}

.navbar li a:hover,
.header-user-email:hover{
    color: white;
    cursor: pointer;
}

.user-email {
    margin: 0;
    text-transform: none;
}

#search-category:hover {
    color: white;
}

#topbar {
    padding: 15px 0;
    font-size: .8rem;
    text-transform: uppercase;
}

.navbar ul li {
    display: inline-block;
    margin-right: 13px;
    padding-right: 13px;
    border-right: 1px solid skyblue;
}

.navbar ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

#search-by-category {
    margin-bottom: 0;
}

#search-category {
    color: skyblue;
    background-color: rgb(2, 1, 27);
    padding-top: 1px;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-appearance: none;
} 

#search-category option {
    color: skyblue;
    background-color: rgb(2, 1, 27) !important;
}

#search-category > option:hover,
#search-category option:checked{
    cursor: pointer !important;
}

#search-category:hover {
    color: white;
    cursor: pointer;
}

#search-category,
.field .input{
    border: none !important;
}

.field .input:hover{
    border-color: rgb(83, 143, 167);
}

.globe-rotating img,
.logout-btn img{
    opacity: 0.8;
}

.login-btn{
    opacity: 0.7;
}

.logout-btn img{
    margin-top: 1px;
    margin-left: 3px;
}

.globe-rotating img:hover,
.login-btn:hover,
.logout-btn img:hover{
    opacity: 1;
}