.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81vh;
    width: 100%;
}

.form-box-login {
    width: 350px;
    height: 383px;
    font-size: 18px;
    background-color: black;
    padding: 20px;
    opacity: 0.8;
    border-radius: 3%;
    border: 2px solid #666;
}

.form-box-login:hover{
    border: 2px solid white;
    opacity: 1;
}

.header-form {
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 30px;
}

.font-awesome-icon {
    color: skyblue;
    font-size: larger;
}

#login-message div p, 
#login-message div a {
    color: white;
    text-align: center;
}

.input-group .mb-3{
    display: inline-flex;
}

.input-group-text-1{
    position: relative;
    left: 13px;
    top: 5px;
}

.input-group-text-2{
    margin-left: 2px;
}

.form-control-login{
    text-indent: 6px;
    position: relative;
    left: 40px;
    line-height: 1.5;
    border-radius: 5px !important;
    width: 240px;
    border: 1px solid #666;
    background-color: black;
    color: white;
    caret-color: white;
}

.form-control-login:focus {
    outline: none;
}

#login-message a:hover{
    color: rgb(83, 143, 167);
}

#login-btn{
    position: relative;
    left: 234px;
    border: 2px solid;
    border-radius: 8px;
    margin-top: 27px;
    margin-bottom: 19px;
}

#login-btn:hover{
    cursor: pointer;
    border: 2px solid rgb(19, 61, 112);
    background-color: rgb(167, 167, 167);
    color: blue;
    text-decoration: underline;
}