.container-register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81vh;
    width: 100%;
}

.form-box-register {
    width: 350px;
    height: 437px;
    background-color: black;
    padding: 20px;
    font-size: 18px;
    opacity: 0.8;
    border-radius: 3%;
    border: 2px solid #666;
}

.form-box-register:hover {
    border: 2px solid white;
    opacity: 1;
}

.header-form {
    margin-bottom: 0px;
    text-align: center;
}

#register-message div p,
#register-message div a {
    color: white;
    text-align: center;
}

.input-group .mb-3 {
    display: inline-flex;
}

.input-group-text-2,
.input-group-text-3 {
    position: relative;
    left: 13px;
    top: 5px;
}

.input-group-text-3 {
    margin-left: 4px;
}

.form-control-register {
    text-indent: 6px;
    position: relative;
    left: 40px;
    line-height: 1.5 !important;
    border-radius: 5px !important;
    width: 240px !important;
    border: 1px solid #666;
    background-color: black;
    color: white;
    caret-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    border: 1px solid #666;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.form-control-register:focus {
    outline: none;
}

#register-message {
    text-align: center;
    text-decoration: underline;
}

#register-message a:hover {
    color: rgb(83, 143, 167);
}

#register-btn {
    position: relative;
    left: 213px;
    border: 2px solid;
    border-radius: 8px;
    margin-top: 27px;
    margin-bottom: 19px;
}

#register-btn:hover {
    cursor: pointer;
    border: 2px solid rgb(19, 61, 112);
    background-color: rgb(167, 167, 167);
    color: blue;
    text-decoration: underline;
}